@import "palette"


body
	margin: 0
	padding: 0

.main-nav
	background-color: $dark
	color: $gray
	.mbtn:hover
		color: $light !important
		background-color: $primary

a
	color: $gray !important

.hr
    border: none
    border-left: 1px solid $gray